.container {
    width: 100%;
    font-family: "Pacifico", cursive;

    .titre {
        text-align: center;
        color: rgb(198, 231, 154);
        font-size: 40px;
    }

    .calculatrice {  
        margin-left: 40%;
        margin-right: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid rgb(117, 117, 117);
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(198, 231, 154);
        
        .boutons {
            display: grid;
            grid-template-columns: 80px 80px 80px 80px;
            grid-template-rows: 60px 60px 60px 60px 60px;
        }

        input {
            border: 1px solid rgb(165, 165, 165);
            background-color: rgb(211, 230, 187);
            border-radius: 7px;
            width: 315px;
            height: 60px;
            margin-bottom: 4px;
        }
        
        button {
            border: 1px solid rgb(165, 165, 165);
            background-color: rgb(211, 230, 187);
            border-radius: 7px;
            height: 60px;
            width: 80px;
        }
    }
}

